
<div class="content-header"></div>
<div class="content-body" style="position: absolute; top: 60px !important">
  <div class="center">
    <h3>Política de Privacidade</h3>
    <br>
    <p>Última atualização: 29/08/2024</p>
    <br>
    <p>A Hausman Systems (doravante referida como "nós", "nosso", ou "nós") está comprometida com a proteção da privacidade dos usuários ("você", "seu", "usuário") do aplicativo QUARTZO. Esta Política de Privacidade descreve como coletamos, usamos, divulgamos e protegemos suas informações ao usar o aplicativo QUARTZO</p>
    <br>
    <h3>1. Informações Coletadas</h3>
    <br>
    <p>Ao se registrar e usar o aplicativo QUARTZO, podemos coletar as seguintes informações pessoais:</p>
    <br>
    <ul style="padding-left: 40px !important;">
      <li><strong >Nome Completo:</strong> Utilizado para identificar o usuário.</li>
      <li><strong>Número de Telefone:</strong> Utilizado para comunicações e autenticação.</li>
      <li><strong>Endereço de E-mail:</strong> Utilizado para comunicações, recuperação de conta, e notificações.</li>
    </ul>
    <br>
    <h3>2. Uso das Informações</h3>
    <br>
    <p>As informações coletadas são usadas para:</p>
    <br>
    <ul style="padding-left: 40px !important;">
      <li><strong>Cadastro e Autenticação:</strong> Para criar e gerenciar sua conta no aplicativo.</li>
      <li><strong>Comunicações:</strong> Para enviar notificações, atualizações do aplicativo, e informações relevantes sobre o serviço.</li>
      <li><strong>Melhoria do Serviço:</strong> Para personalizar e melhorar a experiência do usuário dentro do aplicativo.</li>
    </ul>
    <br>
    <h3>3. Compartilhamento de Informações</h3>
    <br>
    <p>Nós não compartilhamos, vendemos ou divulgamos suas informações pessoais a terceiros, exceto:</p>
    <br>
    <ul style="padding-left: 40px !important;">
      <li><strong>Com seu consentimento explícito.</strong></li>
      <li><strong>Quando exigido por lei:</strong> Para cumprir uma obrigação legal ou em resposta a processos legais.</li>
      <li><strong>Para proteger nossos direitos:</strong> Em caso de investigação de fraude ou violações dos nossos Termos de Serviço.</li>
    </ul>
    <br>
    <h3>4. Segurança das Informações</h3>
    <br>
    <p>Nós implementamos medidas de segurança técnicas e organizacionais para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição.</p>
    <br>
    <br>
    <h3>5. Retenção de Dados</h3>
    <br>
    <p>Manteremos suas informações pessoais enquanto sua conta estiver ativa ou conforme necessário para fornecer serviços a você. Caso deseje encerrar sua conta ou solicitar a exclusão de suas informações, entre em contato conosco.</p>
    <br>
    <h3>6. Seus Direitos</h3>
    <br>
    <p>Você tem o direito de:</p>
    <br>
    <ul style="padding-left: 40px !important;">
      <li><strong>Acessar:</strong> Solicitar uma cópia das informações pessoais que mantemos sobre você.</li>
      <li><strong>Corrigir:</strong> Solicitar a correção de qualquer informação incorreta ou desatualizada.</li>
      <li><strong>Excluir:</strong> Solicitar a exclusão de suas informações pessoais.</li>
      <li><strong>Restrição de Processamento:</strong> Solicitar a limitação do processamento de suas informações pessoais em determinadas circunstâncias.</li>
    </ul>
    <br>
    <h3>7. Alterações nesta Política</h3>
    <br>
    <p>Podemos atualizar esta Política de Privacidade periodicamente. Notificaremos você sobre qualquer alteração significativa publicando a nova Política de Privacidade no aplicativo. Recomendamos que você revise esta política regularmente para se manter informado sobre como estamos protegendo suas informações.</p>
    <br>
    <br>
    <h3>8. Contato</h3>
    <br>
    <p>Se você tiver dúvidas ou preocupações sobre esta Política de Privacidade ou se desejar exercer seus direitos, entre em contato conosco</p>
    <br>
    <div class="footer-text address">
      <p>Hausman Systems LLC</p>
      <p>153 Sandalwood DR - Kissimee FL 34743-7805</p>
      <div>
        <img src="assets/flag_br.png" alt=""><p>+55 24 98824-8222</p>
      </div>
      <p>contato&#64;hausman.com.br</p>
    </div>

  </div>
  <div class="clear"></div>
  <app-footer style="margin-top: -150px !important;"></app-footer>

  <div class="custom-chat">
    <img src="assets/icon_headset.png" alt="">
    <a href="https://api.whatsapp.com/send/?phone=5524988248222&text=Ol%C3%A1%2C%20cheguei%20aqui%20pelo%20site%20e%20preciso%20de%20mais%20informa%C3%A7%C3%B5es.&type=phone_number&app_absent=0" target="_blank">
      Fale com um <br> especialista
    </a>
  </div>
</div>
<p-toast position="bottom-center"  />





