
<div class="content-header"></div>
<div class="content-body" style="position: absolute; top: 60px !important">
  <div class="center" style="text-align: center;">
    <h2>Excluir conta Quartzo</h2>
    <form>
      <input type="email" placeholder="E-mail"><br>
      <input type="password" placeholder="Senha"><br>
      <button>Excluir</button>
    </form>
  </div>
  <div class="clear"></div>
  <app-footer style="position: fixed; bottom: 0px !important; left: 0; right: 0;"></app-footer>

  <div class="custom-chat">
    <img src="assets/icon_headset.png" alt="">
    <a href="https://api.whatsapp.com/send/?phone=5524988248222&text=Ol%C3%A1%2C%20cheguei%20aqui%20pelo%20site%20e%20preciso%20de%20mais%20informa%C3%A7%C3%B5es.&type=phone_number&app_absent=0" target="_blank">
      Fale com um <br> especialista
    </a>
  </div>
</div>
<p-toast position="bottom-center"  />





