<div class="container">
  <div class="content-header">
    <div class="center">
      <div class="contet-header-title">
        <h1>Faça muito mais com os sistemas da<br>Hausman Systems</h1>
        <p>Soluções enterprise para empresas que necessitam de <br>
          um ERP completo, robusto e customizável de acordo <br>
          com suas necessidades</p>
      </div>
      <div class="content-slide">
        <app-slide ngSkipHydration></app-slide>
      </div>
      <div class="content-button">
        <button (click)="message()" class="content-btn">Explore nossas Soluções</button>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="center">
    <div class="content-body-title">
      <img src="assets/logo_next_red.png" alt="">
      <h1><strong>NEXT,</strong> este será seu próximo sistema!</h1>
    </div>
    <app-tab ngSkipHydration></app-tab>
  </div>
  <div class="clear"></div>
  <app-footer ></app-footer>
  <div class="custom-chat">
    <img src="assets/icon_headset.png" alt="">
    <a href="https://api.whatsapp.com/send/?phone=5524988248222&text=Ol%C3%A1%2C%20cheguei%20aqui%20pelo%20site%20e%20preciso%20de%20mais%20informa%C3%A7%C3%B5es.&type=phone_number&app_absent=0" target="_blank">
      Fale com um <br> especialista
    </a>
  </div>
</div>
<p-toast position="bottom-center"  />





